/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* debug */
  /* * {
    border: 1px solid green;
  } */
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-image: linear-gradient( 45deg, #002d5e, #007bff, #007bff, #002d5e);
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  
  .form-section, .result-section {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    /* display: block; */
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="number"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.5s;
  }

  .checkbox label {
    margin-bottom: 0;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0051a8;
  }
  
  .result-section p {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bold;
  }

  span {
    font-weight: normal;
  }
  
  footer {
    background-image: linear-gradient( 45deg, #002d5e, #007bff, #007bff, #002d5e);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
  }

  /* Para navegadores WebKit (Chrome, Safari, Opera) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
    border-color: #002d5e;
    outline: none;
}

  